
* {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    --button-links-: #e99265;
    --textside-: white;
    --header-builtBy: #434343;
    --labelsText: #636363;
    --warningFooter: #545454;
}
.modal-container{
    position: relative;
    width: 600px;
    height: 575px;
    z-index: 1000;
}
.modal-background{
    position: absolute;
}
.text-modal-container{
    width: 600px;
    height: 575px;
    display: flex;
    padding-top: 5rem;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: white;
}

.text-modal-container > h2{
    font-size: 3rem;
}
.text-modal-container > h4{
    font-size: 1.5rem;
}
.text-modal-container > h1{
    font-size: 4rem;
    text-align: center;
    padding-top: 7rem;
}


.main-container {
    display: flex;
    height: 100vh;
    position: relative;
}

/* *LEFT CONTAINER */
.left-frame {
    position: relative;
    height: 100vh;
}

/* *CREATE ACCOUNT CONTAINER */
.form-create-account {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 980px;
    height: 100vh;
    position: absolute;
    z-index: 2;
    background-color: white;
    margin-left: 450px;
    border-radius: 40px 0 0 40px;
}

/* *LEFT HEADER TEXT */
.side-text {
    width: 450px;
    font-family: syne, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    color: var(--textside-);
    transform: translate(8%, 150%);
}

/* *IMAGERY */
.shapes3d {
    position: absolute;
    z-index: 100;
    top: 170px;
    left: 200px;
}

/* *FORM STYLING */
.form-sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    font-family: inter;
}

/* *HEADER FORM */
header {
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
    color: var(--header-builtBy);
    margin-bottom: 30px;
}

legend {
    color: var(--labelsText);
}

/* *SEPERATE NAMES IN SAME CONTAINER */
.both-names {
    display: flex;
    justify-content: space-between;
}
#first-name,
#last-name {
    width: 265px;
}

/* *FIELDSET STYLING */
fieldset {
    border-radius: 8px;
    height: 60px;
}
fieldset,
button {
    margin-top: 20px;
}
fieldset:hover {
    border-color: var(--button-links-);
}

/* *INPUT STYLING */
input {
    width: 550px;
    border: none;
}
input:focus {
    outline: none;
}
input[type="text"] {
    font-family: inter;
    font-size: 1em;
}

/* *CHECK PASSWORD CHECKBOX */
.password-input-fieldset{
    display: flex;
    width: 600px;
    padding-left: 12px;
    padding-right: 0;
}
#check-password{
    width: 20px;
}

/* hide default styling */
input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--button-links-); 
    border-radius: 4px;
    outline: none;
}
/* Custom checkbox styles */
input[type='checkbox']:checked {
    background-color: var(--button-links-); /* Change background color when checked */
}

/* Custom checkmark when checkbox is checked */
input[type='checkbox']::before {
    content: '\2713'; /* Unicode checkmark symbol */
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 20px; 
    color: white; 
}



/* *BUTTON SUBMIT STYLING */
.btn-submit {
    font-family: inter;
    font-weight: bold;
    color: white;
    background-color: var(--button-links-);
    padding: 1em 2em;
    border: none;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

/* *ACCOUNT EXISTENT LOGIN LINK-MESSAGE */
.login-message {
    padding-top: 0.5rem !important;
}
.login-link {
    padding-left: 0.3rem !important;
    color: var(--button-links-);
}
a {
    text-decoration: none;
}
.login-link:link,
.login-link:visited {
    color: var(--button-links-);
    text-decoration: none;
}

.login-link:hover,
.login-link:focus,
.login-link:active {
    color: var(--button-links-);
}

/* *FOOTER */
footer {
    position: absolute;
    bottom: 0;
    z-index: 100;
    left: 35%;
    padding: 1rem;
}

.built-by,
.warning-message {
    text-align: center;
    font-family: inter;
}

.built-by {
    padding-bottom: 0.5rem;
}
.warning-message {
    color: var(--warningFooter);
}
span {
    font-weight: bold;
}

.fa-github {
    color: var(--button-links-);
    font-size: 1.5rem;
    transition: transform 0.5s ease-in-out;
}
