* {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root{
  --button-links-: #e99265;
  --textside-: white;
  --header-builtBy: #434343;
  --labelsText:#636363;
  --warningFooter: #545454;
}


.main-container {
  display: flex;
  height: 100vh;
  position: relative;
}

/* *LEFT CONTAINER */
.left-frame{
  position: relative;
  height: 100vh;
}

/* *FORM MAIN CONTAINER */
.form-create-account{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 980px;
  height: 100vh;
  position: absolute;
  z-index: 2;
  background-color: white;
  margin-left: 450px;
  border-radius: 40px;
}

/* *LEFT HEADER TEXT */
.side-text{
  width: 450px;
  font-family: syne,sans-serif;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  color: var(--textside-);
  transform: translate(8%,150%);
}

/* *IMAGERY */
.shapes3d{
  position: absolute;
  z-index: 100;
  top: 170px;
  left: 200px;
}

/* *FORM STYLING */
.form-sign-up{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  font-family: inter;
}

/* *HEADER FORM */
header{
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
  color: var(--header-builtBy);
  margin-bottom: 30px;
}

legend{
  color: var(--labelsText);
}

/* *SEPERATE NAMES IN SAME CONTAINER */
.both-names{
  display: flex;
  justify-content:space-between;
}
#first-name, #last-name{
  width: 265px;
}

/* *FIELDSET STYLING */
fieldset{
  border-radius: 8px;
  height: 60px;
}
fieldset,button{
  margin-top: 20px;
}
fieldset:hover{
  border-color: var(--button-links-);
}

/* *INPUT STYLING */
input{
  width: 550px;
  border: none;
}
input:focus{
  outline: none;
}
input[type='text']{
  font-family: inter;
  font-size: 1em;
}

/* *BUTTON SUBMIT STYLING */
.btn-submit {
  font-family: inter;
  font-weight: bold;
  color: white;
  background-color: var(--button-links-);
  padding: 1em 2em;
  border: none;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

/* *ACCOUNT EXISTENT LOGIN LINK-MESSAGE */
.login-message{
  padding-top: 0.5rem !important;
}
.login-link{
  padding-left: 0.3rem !important;
  color: var(--button-links-);
}
a{
  text-decoration: none;
}
.login-link:link,
.login-link:visited {
  color: var(--button-links-);
  text-decoration: none;
}

.login-link:hover,
.login-link:focus,
.login-link:active {
  color: var(--button-links-);
}

/* *FOOTER */
footer{
  position: absolute;
  bottom: 0;
  z-index: 100;
  left: 50%;
  padding: 1.2rem;
}
