* {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root{
  --button-links-: #e99265;
  --textside-: white;
  --header-builtBy: #434343;
  --labelsText:#636363;
  --warningFooter: #545454;
}


.main-container {
  display: flex;
  height: 100vh;
  position: relative;
}

/* *LEFT CONTAINER */
.left-frame{
  position: relative;
  height: 100vh;
}

/* *FORM MAIN CONTAINER */
.form-create-account{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 980px;
  height: 100vh;
  position: absolute;
  z-index: 2;
  background-color: white;
  margin-left: 450px;
  border-radius: 40px;
}

/* *LEFT HEADER TEXT */
.side-text{
  width: 450px;
  font-family: syne,sans-serif;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  color: var(--textside-);
  transform: translate(8%,150%);
}

/* *IMAGERY */
.shapes3d{
  position: absolute;
  z-index: 100;
  top: 170px;
  left: 200px;
}

/* *FORM STYLING */
.form-sign-up{
  width: 600px;
  height: 700px;
}


.both-names{
  display: flex;
  justify-content:space-between;
}

#first-name, #last-name{
  width: 265px;
}

/* *FIELDSET STYLING */
fieldset{
  border-radius: 8px;
  height: 60px;
}
fieldset,button{
  margin-top: 20px;
}

/* *INPUT STYLING */
input{
  width: 550px;
  border: none;
}
input:focus{
  outline: none;
}