* {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}
:root{
  --button-links-: #e99265;
  --textside-: white;
  --header-builtBy: #434343;
  --labelsText:#636363;
  --warningFooter: #545454;
}


.main-container {
  display: flex;
  height: 100vh;
  position: relative;
}

.left-frame{
  position: relative;
  height: 100vh;
}

.form-create-account{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 980px;
  height: 100vh;
  position: absolute;
  z-index: 2;
  background-color: white;
  margin-left: 450px;
  border-radius: 40px;
}

.side-text{
  width: 450px;
  font-family: syne,sans-serif;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  color: var(--textside-);
  transform: translate(8%,150%);
}

.shapes3d{
  position: absolute;
  z-index: 100;
  top: 170px;
  left: 200px;
}

.form-sign-up{

}
